<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="accordion-headdings accordion-headdings-1">
        <div class="top-bar">
          <div class="first-box">
            <div class="number">01</div>
            <div class="heading">Where are these chair assembled?</div>
          </div>
          <div class="symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="accordion-headdings accordion-headdings-2">
        <div class="top-bar">
          <div class="first-box">
            <div class="number">02</div>
            <div class="heading">How long do I have to return my chair?</div>
          </div>
          <div class="symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
        <div class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
          veritatis, non perferendis aspernatur, deleniti aliquid voluptatibus
          officia vel assumenda nostrum praesentium magni, impedit id
          necessitatibus autem ex nemo accusamus accusantium?
          <ul class="list-item">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.lorem3</li>
          </ul>
        </div>
      </div>
      <div class="accordion-headdings accordion-headdings-3">
        <div class="top-bar">
          <div class="first-box">
            <div class="number">03</div>
            <div class="heading">Do you ship to countries outside the EU?</div>
          </div>
          <div class="symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
